/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background-color: rgb(237, 238, 239);
	font-family: 'Poppins', sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*index*/

.nav{
	background-color: #d1cecd;
}


.container{
	width: 80%;
	line-height: 50px;
	
	margin: auto;
	display: flex;
	text-align: center;
}
.container img{
	width: 20px;
	height: 20px;
	margin: 6px 6px;
	padding: 5px;
	background-color: #FE4E30;
}
.list{
	padding-left: 10px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	text-align: center;
}
.list ul {
	display: flex;
	text-align: center;
}
.list ul li{
	padding: 0 10px;
	list-style: none;
} 
.list ul li a{
text-decoration: none;
color: white;
}
.list a{
	text-decoration: none;
	color: white;
}

.content{
	width: 80%;
	margin: 20px auto;
}
.card{
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: white;
}
.card_satu{
	width: 60%;
	padding: 40px;
}
.card_satu h1{
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 8px;
}
.card_satu p{
	font-size: 11px;
	text-align: justify;
}
.card_satu button{
	background: black;
	color: white;
	padding: 3px 20px;
	border-radius: 13px;
	margin-top: 15px;
	margin-bottom: 10px;
}
.card_satu h3 a{
	text-decoration: none;
	color: black;
	font-size: 13px;
	font-family: 'Poppins', sans-serif;
}
.icons{
	margin-top: 20px;
}
.icons a{
	color: black;
	font-size: 20px;
	padding: 5px;
}

.card_dua{
	width: 40%;
	margin: 20px;

}
.child_card_dua{
	margin-bottom: 20px;
	width: 300px;
	background: white;
	box-shadow: 0px 0px 12px -6px black;
	border-radius: 10px;
}

.child_card_dua img{
	width: 300px;
	border-radius: 10px 10px 0 0;

}
.child_card_dua h2{
	font-size: 16px;
	text-align: center;
	font-weight: bold;
	margin-top: 10px;
	font-family: 'Poppins', sans-serif;

}
.child_card_dua p{
	text-align: center;
	padding-bottom: 10px;
} 


.card1{
	gap: 5px;
	width: 300px;
	padding: 10px;
	border-radius: 10px;
	box-shadow: 0px 0px 12px -6px black;
}
.card1 img{
	width: 200px;
	margin-bottom: 10px;
	margin-left: 50px;
}
.card1 p{
	font-size: 11px;
	text-align: justify;
}



