/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
	font-family: 'Poppins', sans-serif;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

.aktif {
	padding: 10px;
	border-radius: 5px;
	background-color: #FE4E30;
}

/*index*/

.nav {
	background-color: #d1cecd;
	display: flex;
	flex-direction: column;

}


.container {
	width: 1200px;
	line-height: 50px;

	margin: auto;
	display: flex;
}

.container img {
	width: 30px;
	/* height: 20px; */
	margin: 7px 7px;
	padding: 5px;
	border-radius: 5px;
	background-color: #FE4E30;
}

.list {
	padding-left: 10px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	text-align: center;
}

.list ul {
	display: flex;
	text-align: center;
}

.list ul li {
	padding: 0 10px;
	list-style: none;
}

.list ul li a {
	text-decoration: none;
	color: white;
}

.list a {
	text-decoration: none;
	color: white;
}

.content {
	width: 80%;
	margin: 20px auto;
}

.card {
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: white;
}

.card_satu {
	width: 60%;
	padding: 40px;
}

.card_satu h1 {
	font-size: 25px;
	font-weight: bold;
	margin-bottom: 8px;
}

.card_satu p {
	font-size: 16px;
	text-align: justify;
}

.card_satu button {
	background: black;
	color: white;
	padding: 3px 20px;
	border-radius: 13px;
	margin-top: 15px;
	margin-bottom: 10px;
}

.card_satu h3 a {
	text-decoration: none;
	color: black;
	font-size: 13px;
	font-family: 'Poppins', sans-serif;
}

.icons {
	margin-top: 20px;
}

.icons a {
	color: black;
	font-size: 20px;
	padding: 5px;
}

.card_dua {
	width: 40%;
	margin: 20px;

}

.child_card_dua {
	margin-bottom: 20px;
	width: 300px;
	background: white;
	box-shadow: 0px 0px 12px -6px black;
	border-radius: 10px;
}

.child_card_dua img {
	width: 300px;
	border-radius: 10px 10px 0 0;

}

.child_card_dua h2 {
	font-size: 16px;
	text-align: center;
	font-weight: bold;
	margin-top: 10px;
	font-family: 'Poppins', sans-serif;

}

.child_card_dua p {
	text-align: center;
	padding-bottom: 10px;
}


.sectionDua {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.sectionCard1 {
	width: 30%;
}

.sectionCard2 {
	width: 90%;
	/* background-color: red; */
}




.card1 {
	gap: 5px;
	width: 80%;
	padding: 10px;
	/* background-color: #d1cecd; */
	/* border-radius: 10px; */
	/* box-shadow: 0px 0px 12px -6px black; */
}

.card1 img {
	display: flex;
	width: 200px;
	margin: 10px auto;
}

.card1 p {
	font-size: 12px;
	text-align: justify;
}

.cardContent {
	margin: 20px;
}

.cardContent h2 {
	font-size: 30px;
	font-weight: 200;
	margin-bottom: 10px;
}

.cardContent p {
	font-size: 13px;
	text-align: justify;
}


/* Blogs */

.fromGrup {
	/* background-color: #FE4E30; */
	width: 1200px;
	line-height: 30px;
	margin: auto;
	display: flex;
	justify-content: center;
}

.fromBlog {
	width: 700px;
	/* background-color: #d1cecd; */
}

.fromInput .nama input {
	padding: 10px;
	width: 650px;
	border-radius: 15px;
	border: 1px solid rgba(187, 187, 187, 0.856);
	font-family: 'Poppins', sans-serif;

}

.fromInput .flext {
	display: flex;
}

.fromInput .flext .flext-nama input {
	padding: 10px;
	width: 300px;
	border-radius: 15px;
	border: 1px solid rgba(187, 187, 187, 0.856);
	font-family: 'Poppins', sans-serif;
}

.fromInput .des {
	margin-top: 20px;
}

.fromInput .des textarea {
	padding: 10px;
	width: 650px;
	height: 150px;
	border-radius: 15px;
	border: 1px solid rgba(187, 187, 187, 0.856);
	font-family: 'Poppins', sans-serif;
}

.check {
	margin-bottom: 20px;
}

.checkGrup {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.checkGrup .box {
	margin-right: 40px;
}

.fromInput .button {
	padding: 8px 35px;
	font-size: 17px;
	margin-top: 10px;
	border: none;
	background-color: #FE4E30;
	color: white;
	border-radius: 8px;
}

/* hr */
.hrs {
	width: 700px;
	text-align: center;
	margin-top: 50px;
}

.view {
	width: 80%;
	line-height: 30px;
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	gap: 5px;
}

.view-grup {
	width: 200px;
	padding: 10px;
	border: 2px solid rgb(223, 223, 222);
}

.view-img img {
	width: 200px;
	height: 200px;
}

.veiw-grup .veiw-desk {
	width: 300px;
}

.veiw-desk p {
	font-size: 12px;
	line-height: 12px;
	text-align: justify;
}

.buttonGrup {
	margin-top: 5px;
	text-align: center;
}

.buttonGrup button a {
	text-decoration: none;
	color: white;
}

.buttonGrup button {
	padding: 5px 25px;
	border: none;
	background-color: black;
	color: white;

	border-radius: 5px;
}

.iconss {
	margin-top: 10px;
}






/* Detailsssssssssssssssssssssss */

.detailContent {
	width: 80%;
	/* background-color: #FE4E30; */
	margin: auto;

}

.detailContent h1 {
	text-align: center;
	line-height: 70px;
	font-weight: bold;
}

.detaiFlex {
	display: flex;
	justify-content: flex-start;
	/* align-items: center; */
}



.detailImg img {
	width: 500px;
	height: 450px;
}

.detaildurasi {
	/* background-color: wheat; */
	margin-left: 30px;
}

.detaildurasi h5 {
	line-height: 50px;
}

.detaildurasi p {
	font-size: 11px;
}

.detaildurasi p .fa-solid {
	font-size: 15px;
	margin-top: 3px;
}

.tech {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	width: 400px;
}

.tech .ic2 {
	margin-left: 20px;
}

.ic .fa-brands {
	padding: 10px;
	font-size: 20px;
}

.ic2 .fa-brands {
	padding: 10px;
	font-size: 20px;
}

.detailDeskripsi {
	margin-top: 15px;
}

.detailDeskripsi h2 {
	font-weight: bold;
	margin-bottom: 5px;
}

.detailDeskripsi p {
	font-size: 12px;
	text-align: justify;
}

.link-button {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #FE4E30;
	flex-direction: column;
}

.link-button ul {
	background-color: aqua;
	width: 100%;

}

.link-button ul li {
	list-style: none;
	padding: 20px;
	text-align: center;
	border: 1px solid rgb(253, 253, 251);
	background-color: #d1cecd;
}

.link-button ul li a {
	text-decoration: none;
	color: white;
	font-size: 35px;
}
.kontak-Container{
	width: 1200px;
	margin: auto;
	display: flex;
	justify-content: center;
	align-items: center;
}
.kontak-Container form{
	margin-top: 20px;
	width: 80%;
}
.formControl{
	display: flex;
	flex-direction:column;

}
.formControl label{
	padding: 10px 0;
}
.formControl .form-control, .formControl .form-select{
	padding: 10px;
	border-radius: 10px;
	border: 1px solid gainsboro;
	font-size: 17px;
}
.form-floating {
	margin-top: 20px;
}
.form-floating .text-control{
	width: 99%;
	height: 200px;
	border: 1px solid gainsboro;
	font-size: 17px;
}
.form-floating-button{
	padding: 7px 20px;
	border: 1px solid gainsboro;
	border-radius: 10px;
	margin-top: 5px;
	color: white;
	background-color: #FE4E30;
}


@media screen and (min-width: 240px) and (max-width: 480px) {

	/* body {
		background-color: rgb(86, 17, 17);
	} */
	.container {
		margin-left: 20px;
	}

	.container img {
		width: 70px;
	}
	
	.link-button ul {
		display: none;
	}

	.list ul,
	.list a {
		display: none;
		font-size: 35px;
	}

	.list {
		display: flex;
		justify-content: flex-end;
	}

	.menu-bar {
		display: flex;
		margin: 20px;
		margin-right: 40px;
		cursor: pointer;
		font-size: 40px;
		background-color: transparent;
		border: none;
	}

	.card {
		display: block;
	}

	.card_satu {
		width: 1000px;
	}

	.card_satu h1 {
		font-size: 55px;
		font-weight: bold;
		margin-bottom: 8px;
	}

	.card_satu p {
		font-size: 35px;
		font-weight: 500;
		text-align: justify;
	}

	.card_satu button {
		font-size: 35px;
		background: black;
		color: white;
		padding: 8px 40px;
		border-radius: 13px;
		margin-top: 25px;
		margin-bottom: 10px;
	}

	.icons a {
		color: black;
		font-size: 30px;
		padding: 5px;
	}

	.card_satu h3 a {
		text-decoration: none;
		color: black;
		font-size: 35px;
		font-family: 'Poppins', sans-serif;
	}

	.card_dua {
		width: 90%;
		margin: 20px;

	}

	.child_card_dua {
		margin-bottom: 20px;
		width: 900px;
		background: white;
		box-shadow: 0px 0px 12px -6px black;
		border-radius: 10px;
	}

	.child_card_dua img {
		width: 900px;
		height: 800px;
		border-radius: 10px 10px 0 0;

	}

	.child_card_dua h2 {
		font-size: 40px;
		text-align: center;
		font-weight: bold;
		margin-top: 10px;
		font-family: 'Poppins', sans-serif;

	}

	.child_card_dua p {
		font-size: 35px;
		text-align: center;
		padding-bottom: 10px;
	}


	.sectionDua {
		width: 1000px;
		display: block;
		justify-content: center;
		align-items: center;
	}

	.sectionCard1 {
		width: 100%;
	}

	.card1 {
		width: 85%;

	}

	.card1 img {
		display: flex;
		width: 900px;
		height: 700px;
		margin: 10px auto;
	}

	.card1 h2 {
		font-size: 40px;
	}

	.card1 p {
		font-size: 30px;
	}


	.cardContent h2 {
		font-size: 40px;
		font-weight: 200;
		margin-bottom: 10px;
	}

	.cardContent p {
		font-size: 30px;
		text-align: justify;
	}

	.link-button ul .aktif {
		background-color: #FE4E30;
	}


	/* blog */
	.fromGrup {
		/* background-color: #FE4E30; */
		width: 1200px;
		line-height: 30px;
		margin: 20px auto;
		display: flex;
		justify-content: center;
	}

	.fromBlog {
		width: 1000px;
		/* background-color: #d1cecd; */
	}

	.fromInput .nama label {
		font-size: 35px;
		padding: 10px;
	}
	

	.fromInput .nama input {
		padding: 10px;
		width: 700px;
		font-size: 35px;
		border-radius: 15px;
		border: 1px solid rgba(187, 187, 187, 0.856);
		font-family: 'Poppins', sans-serif;

	}



	.flext {
		display: flex;
		margin-top: 40px;
	}
	.flext-nama{
		
		/* background-color: #d1cecd; */
		align-items: center;
	}
	.flext .flext-nama label{
		font-size: 35px;
	}
	.fromInput .flext .flext-nama input {
		padding: 20px;
		width: 460px;
		font-size: 35px;
		margin-top: 20px;
		/* background-color: aqua; */
		border-radius: 15px;
		border: 1px solid rgba(187, 187, 187, 0.856);
		font-family: 'Poppins', sans-serif;
	}

	.fromInput .des {
		margin-top: 20px;
	}

	.fromInput .des textarea {
		padding: 10px;
		width: 970px;
		height: 300px;
		font-size: 35px;
		margin-bottom: 30px;
		border-radius: 15px;
		border: 1px solid rgba(187, 187, 187, 0.856);
		font-family: 'Poppins', sans-serif;
	}

	.check {
		margin-bottom: 40px;
	}
	.check label {
		font-size: 35px;
		line-height: 60px;
	}

	.checkGrup .checkGrup {
		display: flex;
		justify-content: flex-start;
		align-items: center;
	}

	.checkGrup .box {
		margin-right: 40px;
		font-size: 35px;
	}
	.box input[type=checkbox] {
		transform: scale(1.8);
		margin: 20px;
	}

	.fromInput .button {
		padding: 15px 60px;
		font-size: 35px;
		margin-top: 10px;
		border: none;
		background-color: #FE4E30;
		color: white;
		border-radius: 8px;
	}

	.view{
		width: 1200px;
	}

	.view-grup {
		width: 500px;
		padding: 10px;
		border: 2px solid rgb(223, 223, 222);
	}
	
	.view-img img {
		width: 500px;
		height: 500px;
	}
	
	.veiw-desk {
		width: 500px;
	}
	.veiw-desk h1, .veiw-desk h6{
		font-size: 40px;
	} 
	.veiw-desk p {
		font-size: 35px;
		line-height: 40px;
		font-weight: 300;
		text-align: justify;
	}
	
	.buttonGrup {
		margin-top: 40px;
		text-align: center;
		margin-bottom: 40px;
	}
	
	.buttonGrup button a {
		text-decoration: none;
		color: white;
		font-size: 35px;
	}
	
	.buttonGrup button {
		padding: 10px 45px;
		border: none;
		background-color: black;
		color: white;
		font-size: 35px;
		border-radius: 5px;
	}
	.iconss {
		margin-top: 30px;
		width: 500px;
	}
	.iconss .fa-brands{
		font-size: 65px;
		margin: 20px 20px;
		transform: scale(1.5);
	}
	.kontak-Container{
		width: 1200px;
		margin: auto;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.kontak-Container form{
		margin-top: 20px;
		width: 80%;
	}
	.formControl{
		display: flex;
		flex-direction:column;
	
	}
	.formControl label{
		padding: 10px 0;
		font-size: 35px;
		line-height: 60px;
	}
	.formControl .form-control, .formControl .form-select{
		padding: 10px;
		border-radius: 10px;
		border: 1px solid gainsboro;
		font-size: 35px;
	}
	.form-floating {
		margin-top: 20px;
	}
	.form-floating .text-control{
		width: 99%;
		height: 200px;
		border: 1px solid gainsboro;
		font-size: 35px;
		margin-bottom: 20px;
	}
	.form-floating-button{
		padding: 7px 20px;
		border: 1px solid gainsboro;
		border-radius: 10px;
		margin-top: 5px;
		font-size: 35px;
		color: white;
		background-color: #FE4E30;
	}
}

@media screen and (min-width: 950px) {

	/* body {
		background-color: rgb(7, 201, 7);
	} */

	.link-button ul,
	.menu-bar {
		display: none;
	}

}